---
import { useSanityClient } from "astro-sanity";
import { urlForImage } from "../utilities/sanityImage.js";

import Instagram from "/icon-instagram.svg";

const {global} = Astro.props;

const menu = await useSanityClient().fetch(`
*[_type=='menu' && slug.current=='main-menu'][0] {
    menuItems[]{
        _key,
        link {
            externalLink,
            external_link,
            internal_link {
                "data": *[_id == ^._ref] {
                    _type,
                    slug {
                      current
                    },
                    title,
                    featuredImage
                }
            }    
        },
        name
    }
}
`);
---

<style>
	@media (orientation: landscape) and (max-height: 767px){
		#menu-cta {
			bottom: 2rem;
		}
	}
	@media (orientation: landscape) and (max-height: 340px){
		#menu-cta {
			display: none;
		}
	}
	@media (max-width: 500px){
		#menu-cta {
			position: static;
			width: fit-content;
			margin-top: 2rem;
		}
	}
</style>

<div id="menu" class="fixed inset-0 bg-dark-gray opacity-0 z-[99] overflow-hidden hidden">
	<div class="flex flex-col h-full md_min:grid-cols-2">
		<div
			id="menu-projects"
			class="flex justify-center items-center text-center flex-grow bg-white text-black p-6 md_min:p-24 -translate-x-full opacity-0 overflow-hidden"
		> 
			<div class="overflow-y-auto py-24 max-h-screen w-full" data-scroll-lock-scrollable>
				<ul class="grid gap-2">
					{
						menu.menuItems.map((item, index) => {
							return (
								<li class="headline relative text-left inline-flex w-fit lg:text-40">
									{item.link?.externalLink ? (
										<div class="overflow-hidden">
											<a
												href={item.link.external_link}
												class="menu-link inline-block"
												target="_blank">
												<span class="leading-[1.1]">{item.name}</span><span class="text-16 ml-2">{(index+1) < 10 ? `0${index+1}` : (index+1)}</span>
											</a>
										</div>                                    
									) : item.link.internal_link.data[0]._type ===
									  "photography" ? (
										  <div class="overflow-hidden">
										<a
											href={`/photography/${item.link.internal_link?.data[0].slug.current}`}
											class="menu-link menu-link-photography inline-block relative">
											<span class="leading-[1.1]">{item.name}</span><span class="text-16 ml-2">{(index+1) < 10 ? `0${index+1}` : (index+1)}</span>
										</a>
										</div>                                        
										<picture>
											<source
												srcset={urlForImage(
													item.link.internal_link
														.data[0].featuredImage
														.asset
												)
													.format("webp")
													.width(500)
													.quality(80)
													.url()}
												type="image/webp"
											/>
											<source
												srcset={urlForImage(
													item.link.internal_link
														.data[0].featuredImage
														.asset
												)
													.width(260)
													.format("webp")
													.quality(60)
													.url()}
												type="image/webp"
												media="(max-width: 478px)"
											/>
											<img
												src={urlForImage(
													item.link.internal_link
														.data[0].featuredImage
														.asset
												)
													.width(350)
													.quality(80)
													.url()}
												class="menu-link-photography-image fixed z-10 top-12 left-12 opacity-0 transition-opacity pointer-events-none md:!hidden"
												width="260"
												height="150"
												alt={
													item.link.internal_link
														.data[0].featuredImage
														.alt
												}
											/>
										</picture>
									) : (
										<div class="overflow-hidden">
											<a
												href={`/${item.link.internal_link?.data[0].slug.current}`}
												class="menu-link inline-block">
												{item.name}<span class="text-16 ml-2">{(index+1) < 10 ? `0${index+1}` : (index+1)}</span>
											</a>
										</div>
									)}
								</li>
							);
						})
					}
				</ul>
				<ul id="menu-cta" class="absolute right-32 bottom-32 space-y-2 md:right-12 md:bottom-12">
					{global.social_links?.instagram ? (
						<li class="flex justify-center">
							<a href={global.social_links.instagram} target="_blank" class="group w-10 h-10 bg-black rounded-full p-2 ">
								<svg xmlns="http://www.w3.org/2000/svg" fill="#e9e9e9" viewBox="0 0 20 20" class="transition-smooth supports-hover:group-hover:opacity-50"><path fill-rule="evenodd" stroke="none" stroke-width="0" d="M5.87.123C4.242.196 2.83.594 1.69 1.729.548 2.869.155 4.286.081 5.897.037 6.902-.231 14.498.545 16.49a5.04 5.04 0 0 0 2.91 2.903c.634.246 1.356.412 2.416.461 8.86.401 12.145.183 13.53-3.364.246-.631.415-1.353.462-2.41.405-8.883-.066-10.809-1.61-12.351C17.027.507 15.586-.325 5.87.123m.081 17.944c-.97-.043-1.496-.205-1.848-.341a3.255 3.255 0 0 1-1.888-1.883c-.591-1.514-.395-8.703-.342-9.866.051-1.14.282-2.18 1.086-2.985C3.954 2 5.24 1.513 13.993 1.908c1.142.052 2.186.282 2.992 1.084.995.993 1.489 2.288 1.087 11.008-.044.968-.206 1.493-.342 1.843-.901 2.308-2.973 2.628-11.779 2.224M14.09 4.69c0 .657.534 1.19 1.194 1.19.66 0 1.195-.533 1.195-1.19a1.194 1.194 0 0 0-2.39 0M4.864 9.988a5.103 5.103 0 0 0 5.11 5.097 5.103 5.103 0 0 0 5.109-5.097 5.102 5.102 0 0 0-5.11-5.096 5.102 5.102 0 0 0-5.11 5.096m1.794 0A3.313 3.313 0 0 1 9.972 6.68a3.313 3.313 0 0 1 3.317 3.308 3.313 3.313 0 0 1-3.317 3.31 3.313 3.313 0 0 1-3.316-3.31"/></svg>
							</a>
						</li>
					): ""}
					{global.social_links?.email && global.social_links.email.includes("@") ? (
						<li>
							<a href={`mailto:${global.email}`} class="group w-48 h-48 flex items-center justify-center rounded-full bg-black text-white border-2 border-black relative overflow-hidden lg:w-32 lg:h-32">
								<span class="absolute w-full h-full rounded-full bg-white opacity-0 scale-[.25] transition-smooth supports-hover:group-hover:scale-100 supports-hover:group-hover:opacity-100"></span>
								<span class="relative z-10 transition-smooth supports-hover:group-hover:text-black">Let's Chat!</span>
							</a>
						</li>
					): ""}						
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
	import { timeline, animate, stagger, spring } from "motion";
	import { disablePageScroll, enablePageScroll } from "scroll-lock";

	const $header = document.querySelector("header");
	const $menuToggle = document.getElementById("menu-toggle");
	const $menu = document.getElementById("menu");
	const $menuProjects = document.getElementById("menu-projects");
	const $menuCta = document.getElementById("menu-cta");
	let menuOpen = false;

	//MENU TOGGLE
	$menuToggle.addEventListener("click", () => {
		menuOpen = !menuOpen;
		$menuToggle.style.pointerEvents = "none";
		if (menuOpen) {
			$menu.style.display = "block";
			$menuToggle.textContent = "Close";
			$header.classList.add("light-mode");
			disablePageScroll();
			timeline([
				[
					$menu,
					{ opacity: ["0", "1"] },
					{ duration: 0.75, easing: [0.25, 1, 0.5, 1] },
				],
				[
					$menuProjects,
					{ opacity: ["0", "1"], x: ["-100%", "0"] },
					{
						at: 0,
						delay: 0.3,
						duration: 0.75,
						easing: [0.25, 1, 0.5, 1],
					},
				],
				[
					$menuCta,
					{ opacity: ["0", "1"], y: ["100%", "0"] },
					{
						at: .4,
						delay: 0.75,
						duration: 0.75,
						easing: [0.25, 1, 0.5, 1],
					}
				],
				[
					".menu-link",
					{ y: ["100%", "0"] },
					{
						at: 0.6,
						duration: 0.75,
						easing: [0.25, 1, 0.5, 1],
						delay: stagger(0.1),
					},
				],
			]);
		} else {
			$menuToggle.textContent = "Menu";
			$header.classList.remove("light-mode");
			enablePageScroll();
			timeline([
				[
					$menuProjects,
					{ opacity: ["1", "0"], x: ["0", "-100%"] },
					{ duration: 0.75, easing: [0.25, 1, 0.5, 1] },
				],
				[
					$menu,
					{ opacity: ["1", "0"] },
					{
						at: 0.25,
						duration: 0.75,
						easing: [0.25, 1, 0.5, 1],
					},
				],
			]);
			setTimeout(() => {
				$menu.style.display = "none";
			}, 750);
		}
		setTimeout(() => {
			$menuToggle.style.pointerEvents = "auto";
		}, 750);
	});

	//MENU ITEM HOVER
	let mousePos = { x: undefined, y: undefined };
	window.addEventListener("mousemove", (event) => {
		mousePos = { x: event.clientX, y: event.clientY };
		animate(
		    ".menu-link-photography-image",
		    { x: mousePos.x, y: mousePos.y },
		    { easing: spring({ mass: 0.2 }) }
		);
	});
	const $menuImageLinks = document.querySelectorAll(".menu-link-photography");
    const handleDimLinks = () => {
        $menuImageLinks.forEach((link) => {
            link.style.opacity = ".25";
        })
    }
	$menuImageLinks.forEach((link) => {
		const img = link.closest("li").querySelector(".menu-link-photography-image");
		link.addEventListener("mouseenter", () => {
            handleDimLinks();
            link.style.opacity = "1";
			img.classList.remove("opacity-0");
		});
		link.addEventListener("mouseleave", () => {
			img.classList.add("opacity-0");
		});
	});
    $menuProjects.querySelector("ul").addEventListener("mouseleave", () => {
        $menuImageLinks.forEach((link) => {
            link.style.opacity = "1";
        })
    })
    $menuProjects.querySelectorAll("li").forEach(li => {
		li.addEventListener("mouseleave", () => {
			$menuImageLinks.forEach((link) => {
				link.style.opacity = "1";
			})
		})
	})
</script>
